header{
  display: flex;
  margin: 0;
  padding: 0;
}
nav{
  margin-left:auto;
}
li a{
  text-decoration: none;
  background-color: rgb(240, 236, 232);
  width:100px;
  text-align: center;
  line-height: 64px;
  display: block;   /*クリック幅を広くした*/
}
nav li a:hover{
  background-color: rgb(182, 214, 242);
}
ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

main{
  background-color: antiquewhite;
}
section{
  display: flex;
  justify-content: space-between;
}

section:nth-child(even){
  flex-direction: row-reverse;
}
section:last-child{
  border-bottom: 1px solid black;
}
section{
  border-top: 1px solid black;
}