body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ca9cff;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  position: relative;
  animation: moveRight 3s infinite alternate;
}
.box1 {
  width: 100px;
  height: 100px;
  background-color: #d3ff7a;
  position: relative;
  animation: moveRight1 3s infinite alternate;
  border-radius: 50% 15%;
}
.box2 {
  width: 100px;
  height: 100px;
  background-color: #ff66ff;
  animation: moveRight 3s infinite alternate;
  border-radius: 50%;
}

@keyframes moveRight {
  from {
      left: 0;
      opacity: 0;
  }
  to {
      left: 300px;
      opacity: 1;
  }
  
}
@keyframes moveRight1 {
  from {
      right: 0;
      opacity: 0;
  }
  to {
      right: 300px;
      opacity: 1;
  }
  
}